@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 235 20% 15%;
    --foreground: 0 0% 98%;

    --card: 235 20% 20%;
    --card-foreground: 0 0% 98%;

    --popover: 235 20% 20%;
    --popover-foreground: 0 0% 98%;

    --primary: 340 90% 75%;
    --primary-foreground: 340 90% 10%;

    --secondary: 235 20% 30%;
    --secondary-foreground: 0 0% 98%;

    --muted: 235 20% 30%;
    --muted-foreground: 235 10% 65%;

    --accent: 270 90% 75%;
    --accent-foreground: 270 90% 10%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 235 20% 30%;
    --input: 235 20% 30%;
    --ring: 340 90% 75%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
